/* General styling and temp border for visualization */
*{
  margin: 0;
  padding: 0;
}

/* aside, .content, .words, .grid, footer{
  border: 1px red solid;
} */

body{
  margin: 0 auto;
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: grey;
}

#wrapper{
  background-color: white;
  width: 90%;
  margin: 2px auto;
}

header, nav, .content, aside, main, footer{
  padding: 10px 0;
  margin: 5px 5px;
}

/* Header styling */
.logo-name{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 100%;
  margin: 5px auto;
}

.logo img{
  width: 50px;
  height: 50px;
  margin: 5px;
}

.name{
  text-decoration: none;
  color: black;
  margin: 5px;
  font-size: 1.4em;
}

/* Nav styling */
nav ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.nav-link{
  display: flex;
  justify-content: center;
  padding: 5px;
  flex-basis: 20%;
}

.nav-link a{
  font-size: 1.2em;
  text-align: center;
  width: 40%;
  text-decoration: none;
  background-color: rgb(73, 220, 137);
  color: white;
  padding: 5px 30%;
}

/* Content, aside, and main styling */
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px gray solid;
}

aside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 90%;
  border-top: 2px gray solid;
  border-bottom: 2px gray solid;
}

aside a{
  margin: 2px auto;
  font-size: 1.2em;
  text-align: center;
  width: 40%;
  text-decoration: none;
  background-color: rgb(73, 220, 137);
  color: white;
  padding: 5px 5%;
}

main{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.words{
  display: flex;
  flex-direction: column;
  border-bottom: 2px grey solid;
}

.words-content{
  display: flex;
  flex-direction: column;
}

.words p{
  margin: 10px auto;
  padding: 10px;
}

.grid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid ul{
  list-style-type: none;
}

.grid img{
  width: 300px;
  height: 300px;
  margin: 10px 10px;
}

/* Footer styling */
footer{
  text-align: center;
}


/* Media queries */
@media only screen and (min-width:600px){
  body{
    background-color: tan;
  }
}

@media only screen and (min-width:1200px){
  .logo-name, nav, main, aside, footer{
    border: 2px black solid;
  }

  .logo-name{
    justify-content: flex-start;
  }

  nav ul{
    display: flex;
    flex-direction: row;
  }

  .content{
    flex-direction: row-reverse;
    align-items: flex-start;
  }

  .words-content{
    flex-direction: row;
  }

  main{
    flex-basis: 70%;
    padding: 10px;
    margin: 10px;
  }

  aside{
    justify-content: flex-start;
    flex-basis: 30%;
    padding: 10px;
    margin: 10px;
  }

  .grid ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
  } 
}

@media only screen and (min-width:2500px){
  body{
    background-color: darkolivegreen;
  }
}

